*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #3498db;
  display: grid;
  position: relative;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.carousel__container{
  display: grid;
  position: relative;
  width: 90vw;
  height: 48vh;
  background-color: rgb(255, 98, 98);  
}

.carousel__item__one{
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, 1fr); 
  top: 0vh;
  width: 45vw;
  height: 25vh; 
 background-color: rgb(59, 56, 56);
  
}

.carousel__item__two{
  display: grid;
  position: relative;
  background-color: rgb(255, 166, 166);
  grid-template-columns: repeat(2, 1fr);
  top: 25vh;
  width: 45vw;
  height: 25vh; 
}

.carousel__item__three{
  display: grid;
  position: relative;
  background-color: rgb(1, 53, 46);
  grid-template-columns: repeat(1, 1fr);  
  width: 22.5vw;
  height: 49vh; 
}

.carousel__item__four{
  display: grid;
  position: relative;  
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr); 
  width: 22.5vw;
  height: 49vh;   
  background-color: rgb(255, 0, 0);
}

/*--------------------------*/

.carousel__element__one{
  display: grid;
  position: relative;
  background-color: rgb(19, 13, 18);
  top: 0vh;
  width: 45vw;
  height: 25vh; 
}

.carousel__element__two{
  display: grid;
  position: relative;
  background-color: rgb(102, 255, 0);
  top: 25vh;
  right: 22.5vw;
  width: 22.5vw;
  height: 25vh; 
}

.carousel__element__three{
  display: grid;
  position: relative;
  background-color: rgb(36, 16, 49);
  top: 25vh;
  right: 22.5vw;
  width: 22.5vw;
  height: 25vh; 
}

.carousel__element__four{
  display: grid;
  position: relative;
  background-color: rgb(40, 110, 112);
  top: 0vh;  
  width: 22.5vw;
  height: 49vh; 

} 

.carousel__element__five {
  display: grid;
  position: relative;
  background-color: rgb(160, 141, 32);
  top: 0vh;  
  width: 22.5vw;
  height: 25vh; 
}

.carousel__element__six{
  display: grid;
  position: relative;
  background-color: rgb(2, 61, 39);
  top: 0vh;  
  width: 22.5vw;
  height: 25vh; 
} 


.carousel__element__seven{
  display: grid;
  position: relative;
  background-color: rgb(6, 2, 61);
  top: 0vh; 
  width: 22.5vw;
  height: 49vh; 
}

.carousel__element__eight {
  display: grid;
  position: relative;
  background-color: rgb(100, 64, 10);
  top: 0vh;  
  width: 22.5vw;
  height: 25vh; 

}

.carousel__element__nine{
  display: grid;
  position: relative;
  background-color: rgb(255, 0, 242);
  top: 0vh;  
  width: 22.5vw;
  height: 25vh; 
} 

.carousel__element__ten{
  display: grid;
  position: relative;
  background-color: rgb(0, 225, 255);
  top: 0vh; 
  width: 22.5vw;
  height: 49vh; 
} 


@media screen and (min-width: 1025px) and (max-width: 1280px) {


.carousel__item__one{
  display: grid;
  position: relative; 
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  top: 0vh;
  width: 60vw;
  height: 25vh;  
 background-color: rgb(59, 56, 56);
  
}

.carousel__item__two{
  display: grid;
  position: relative;
  background-color: rgb(255, 166, 166);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  top: 25vh;
  width: 60vw;
  height: 25vh;   
}

.carousel__item__three{
  display: grid;
  position: relative;
  background-color: rgb(1, 53, 46);
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);  
  width: 30vw;
  height: 49vh; 
}

.carousel__item__four{
  display: grid;
  position: relative;  
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr); 
  width: 30vw;
  height: 49vh; 
  
  background-color: rgb(255, 0, 0);
}

/*--------------------------*/

.carousel__element__one{
  display: grid;
  position: relative;
  background-color: rgb(19, 13, 18);
  top: 0vh;
  width: 60vw;
  height: 25vh; 
}

.carousel__element__two{
  display: grid;
  position: relative;
  background-color: rgb(102, 255, 0);
  top: 25vh;
  right: 30vw;
  width: 30vw;
  height: 25vh; 
}

.carousel__element__three{
  display: grid;
  position: relative;
  background-color: rgb(36, 16, 49);
  top: 25vh; 
  width: 30vw;
  height: 25vh; 
}

.carousel__element__four{
  display: grid;
  position: relative;
  background-color: rgb(40, 110, 112);
  top: 0vh;  
  width: 30vw;
  height: 49vh; 
} 

.carousel__element__five {
  display: grid;
  position: relative;
  background-color: rgb(160, 141, 32);
  top: 0vh;  
 width: 30vw;
  height: 25vh; 
}

.carousel__element__six{
  display: grid;
  position: relative;
  background-color: rgb(2, 61, 39);
  top: 0vh;  
 width: 30vw;
  height: 25vh; 
} 

.carousel__element__seven{
  display: grid;
  position: relative;
  background-color: rgb(6, 2, 61);
  top: 0vh; 
  width: 30vw;
  height: 49vh; 
}

.carousel__element__eight {
  display: grid;
  position: relative;
  background-color: rgb(100, 64, 10);
  top: 0vh;  
  width: 30vw;
  height: 25vh; 

}

.carousel__element__nine{
  display: grid;
  position: relative;
  background-color: rgb(255, 0, 242);
  top: 0vh;  
   width: 30vw;
  height: 25vh; 
} 

.carousel__element__ten{
  display: grid;
  position: relative;
  background-color: rgb(0, 225, 255);
  top: 0vh; 
  width: 30vw;
  height: 49vh; 
} 

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

.carousel__item__one{
  display: grid;
  position: relative; 
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr); 
  top: 0vh;
  width: 90vw;
  height: 49vh; 
  background-color: rgb(59, 56, 56);  
}

.carousel__item__two{
  display: grid;
  position: relative;
  background-color: rgb(255, 166, 166);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  top: 0vh;
  right: -22.5vw;
  width: 60vw;
  height: 49vh; 
}

.carousel__item__three{
  display: grid;
  position: relative;
  background-color: rgb(1, 53, 46);
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);  
  width: 90vw;
  height: 49vh; 
}

.carousel__item__four{
  display: grid;
  position: relative;  
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr); 
  width: 90vw;
  height: 49vh;   
  background-color: rgb(255, 0, 0);
}

/*--------------------------*/

.carousel__element__one{
  display: grid;
  position: relative;
  background-color: rgb(19, 13, 18);
  top: 0vh;
  width: 90vw;
  height: 49vh; 
}

.carousel__element__two{
  display: grid;
  position: relative;
  background-color: rgb(102, 255, 0);
  top: 0vh;  
  width: 45vw;
  height: 49vh; 
}

.carousel__element__three{
  display: grid;
  position: relative;
  background-color: rgb(25, 3, 39);
  top: 0vh;  
  right: 45vw;  
  width: 45vw;
  height: 49vh; 
}

.carousel__element__four{
  display: grid;
  position: relative;
  background-color: rgb(40, 110, 112);
  top: 0vh;  
  width: 45vw;
  height: 49vh; 
} 

.carousel__element__five {
  display: grid;
  position: relative;
  background-color: rgb(160, 141, 32);
  top: 0vh;  
  width: 45vw;
  height: 495vh; 
}

.carousel__element__six{
  display: grid;
  position: relative;
  background-color: rgb(2, 61, 39);
  top: 0vh;  
  width: 49vw;
  height: 495vh; 
} 


.carousel__element__seven{
  display: grid;
  position: relative;
  background-color: rgb(6, 2, 61);
  top: 0vh; 
  width: 45vw;
  height: 49vh; 
}

.carousel__element__eight {
  display: grid;
  position: relative;
  background-color: rgb(100, 64, 10);
  top: 0vh;  
  width: 45vw;
  height: 49vh; 

}

.carousel__element__nine{
  display: grid;
  position: relative;
  background-color: rgb(255, 0, 242);
  top: 0vh;  
  width: 45vw;
  height: 49vh; 
} 

.carousel__element__ten{
  display: grid;
  position: relative;
  background-color: rgb(0, 225, 255);
  top: 0vh; 
  width: 45vw;
  height: 49vh; 
} 

}



@media screen and  (max-width: 768px) {

.carousel__item__one{
  display: grid;
  position: relative; 
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  top: 0vh;
  width: 90vw;
  height: 49vh; 
  background-color: rgb(59, 56, 56);
  
}


.carousel__item__two{
  display: grid;
  position: relative;
  background-color: rgb(255, 166, 166);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  top: 0vh;
  right: -22.5vw;
  width: 180vw;
  height: 49vh; 
}

.carousel__item__three{
  display: grid;
  position: relative;
  background-color: rgb(1, 53, 46);
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);  
  top: 0vh;
  width: 90vw;
  height: 49vh; 
}

.carousel__item__four{
  display: grid;
  position: relative;  
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  top: 0vh;
  width: 90vw;
  height: 49vh;   
  background-color: rgb(255, 0, 0);
}

/*--------------------------*/

.carousel__element__one{
  display: grid;
  position: relative;
  background-color: rgb(19, 13, 18);
  top: 0vh;
  width: 90vw;
  height: 49vh; 
}

.carousel__element__two{
  display: grid;
  position: relative;
  background-color: rgb(102, 255, 0);
  top: 0vh;  
  width: 90vw;
  height: 49vh; 
}

.carousel__element__three{
  display: grid;
  position: relative;
  background-color: rgb(25, 3, 39);
  top: 0vh;  
  right: 90vw;  
  width: 90vw;
  height: 49vh; 
}

.carousel__element__four{
  display: grid;
  position: relative;
  background-color: rgb(40, 110, 112);
  top: 0vh;  
  width: 90vw;
  height: 49vh; 

} 

.carousel__element__five {
  display: grid;
  position: relative;
  background-color: rgb(160, 141, 32);
  top: 0vh;  
  width: 90vw;
  height: 49vh; 
}

.carousel__element__six{
  display: grid;
  position: relative;
  background-color: rgb(2, 61, 39);
  top: 0vh;  
  width: 90vw;
  height: 49vh; 
} 


.carousel__element__seven{
  display: grid;
  position: relative;
  background-color: rgb(6, 2, 61);
  top: 0vh; 
  width: 90vw;
  height: 49vh; 
}

.carousel__element__eight {
  display: grid;
  position: relative;
  background-color: rgb(255, 153, 0);
  top: 0vh;  
  width: 90vw;
  height: 49vh; 

}

.carousel__element__nine{
  display: grid;
  position: relative;
  background-color: rgb(255, 0, 242);
  top: 0vh;  
  width: 90vw;
  height: 49vh; 
} 

.carousel__element__ten{
  display: grid;
  position: relative;
  background-color: rgb(0, 225, 255);
  top: 0vh; 
  width: 90vw;
  height: 49vh; 
} 

}
